.px-1 {
  width: 180px;
  height: 180px;
  overflow: hidden;
}

.px-1 {
  width: 180px;
  aspect-ratio: 1;
  overflow: hidden;
}

.timerFlashing {
  animation: flash 1s infinite alternate, popInOut 0.5s infinite alternate;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 0, 0, 0.6),
    0 0 40px rgba(255, 0, 0, 0.4), 0 0 80px rgba(255, 0, 0, 0.2);
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9em;
  color: #fff;
}

.timerFlashingText {
  animation: flash 0.5s infinite alternate, popInOut 0.5s infinite alternate;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 0, 0, 0.6),
    0 0 40px rgba(255, 0, 0, 0.4), 0 0 80px rgba(255, 0, 0, 0.2);
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6em;
  color: #fff;
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes popInOut {
  0%,
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
  50% {
    transform: scale(1.2) translate(-50%, -50%);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.9), 0 0 20px rgba(0, 255, 0, 0.7),
      0 0 35px rgba(0, 255, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 15px rgba(0, 230, 0, 0.9), 0 0 25px rgba(0, 230, 0, 0.7),
      0 0 45px rgba(0, 230, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.9), 0 0 20px rgba(0, 255, 0, 0.7),
      0 0 35px rgba(0, 255, 0, 0.5);
  }
}

.glowing-border {
  animation: glow 1.5s infinite ease-in-out;
}

.border-bright-green {
  border-color: rgba(0, 255, 0, 0.9); /* Dark bright green */
}

.text-bright-green {
  color: rgba(0, 255, 0, 0.9); /* Dark bright green */
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-200%) scale(1.1);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideInFromSide {
  from {
    transform: translateX(-200%) scale(1.1);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(200%) scale(1.1);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideInFromOtherSide {
  from {
    transform: translateX(200%) scale(1.1);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.image-slide-in-top {
  animation: slideInFromTop 0.5s ease-out;
}

.image-slide-in-side {
  animation: slideInFromSide 0.5s ease-out;
}

.image-slide-in-bottom {
  animation: slideInFromBottom 0.5s ease-out;
}

.image-slide-in-other-side {
  animation: slideInFromOtherSide 0.5s ease-out;
}

.blur-effect {
  filter: blur(2px);
}

.odd-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 70px;
  color: rgb(172, 6, 6);
  font-weight: bold;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
